<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello!</h1>
    <p>
      Here are the details of your order <%= @order %>.<br>
    </p>
    <p>
      Your total is <%= @total %>
    </p>
    <p>Thanks for your order and have a great day!</p>
  </body>
</html>